
.content{
    height:770px;
    background-image: url(../img/fons.png);
    background-size:cover ;
    background-repeat: no-repeat;
    
}
  
  


.header{
    margin: 0 auto;
    height: 58px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color:  rgba(0, 0, 0, 0.40);
    align-items: center;
    display: flex;
   
}
.logo{
    margin-left:79px;
    color: #FFF;
    font-size: 22px;
    font-family: Ubuntu;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
}
.logo:hover{
    color:#3CB878; 
}

.icon{
    color: #FFF;
    
}
.icon:hover{
    color: #3CB878;
}
.header-icon{
    display:flex;
    gap: 27px;
    align-items: center;
    margin-left:  auto ;
    
}
.line{
    height:19px ;
    color: rgba(255, 255, 255, 0.90);
    opacity: 0.5;
}
.log-in{
    align-items: center;
    margin-left: 27px;
}
.text-header{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-right: 79px;
}
.color{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-decoration: none;
}
.color:hover{
    color: #3CB878;
}



.block-main{
    margin: 54px  auto 74px;
    width: 444px;
    height: 584px;
    background-color: #FFF;
    padding-top: 31px;
    
}
.main-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    
   

}
.shape{
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    margin-right: auto;
    
    
}
.sign{
    display: inline-block;
    margin-right: 216px;
   
    color: #434343;
    font-family: Ubuntu;
    text-align: center;
    font-style: normal;
    font-size: 20px;
    line-height: 20px; 
    font-weight: 400;

}
.title{
    margin-right: 60px;
    text-decoration: none;
    color:#3CB878 ;
    font-family: Ubuntu;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}
.title:hover{
    color: #01813F;
    border-bottom: 1px solid #01813F;
}
.social{
    display: flex;
    justify-content: center;
    gap: 8px;

}

    
.facebook{
    margin-top: 15px;
    display: flex;
    align-items:center;
    border: none;
    background-color:#305DB8;
    border-radius:5px;
}
.logo-social{
    margin:  0 11px;
}
.line-social{
    color: #0A162F;
    height: 28px;
    opacity: 0.1;
}

.line-social::after{
    content:'';
    background-color: #0A162F;
}
.text-social{
    margin: 0 18px 0 22px;
    color: #FFF;
    font-family: Ubuntu;
    margin-left: 18px ;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}
.facebook:hover{
    background-color:#022263;
}


.google{
    margin-top: 15px;
    display: flex;
    align-items:center;
    border: none;
    background-color:#DF4A32;
    border-radius:5px ;
}
.google:hover{
    background-color: #AB1F09;
}
.line-text{
    display: flex;
    margin-top:31px;
    align-items: center;
    margin-left: 61px;
}
.caption{
    color: #848484;
    font-size: 14px;
    font-family: Ubuntu;
    line-height: 14px; 
    font-weight: 400;
}
.line-main{
    background-color: #F2F2F2;
    border: none;
    margin: 0 2px;
    width: 152px;
    height: 1px;
}
.form{
    margin: 11px 0 27px 61px;
}


.input{ 
    padding-left: 20px;
    width: 322px;
    color: #434343;
    height: 44px;
    font-size: 14px;
    font-family: Ubuntu;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    font-weight: 400;
    border: #FFF;
    outline: none;
    margin-bottom: 16px;
}
.input1{
    padding-left: 20px;
    width: 322px;
    height: 44px;
    color: #BEBEBE;
    outline: none;
    border: #FFF;
    font-size: 14px;
    font-family: Ubuntu;
    margin-bottom: 16px;
    font-weight: 400;
}
.done{
    display: flex;
    align-items: center;
    
  
}
.checkbox{
    width: 20px;
    height: 20px ;
    border: none;
}



.span{
    margin-left: 8px;
    color: #434343;
    font-size: 14px;
    font-family: Ubuntu;
    font-weight: 400;
    text-decoration: none;

}
.span-link{
    color: #3CB878;
}
.span-link:hover{
    color:#01813F;
    border-bottom: 1px solid #01813F;
}
.button{
    border-radius: 4px;
    margin-left: -15px;
    margin-top:20px ;
    background-color: #3CB878;
    border: #FFF;
    width: 324px;
    height: 46px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    
}

.button:hover{
    background-color:#01813F ;
}
   